.fixed-overlay {
    position: fixed;
    z-index: 999;
    overflow: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.fixed-overlay__modal {
    text-align: center;
    /*white-space: nowrap;*/
}

.fixed-overlay__modal::after {
    /*display: inline-block;*/
    vertical-align: middle;
    width: 0;
    /*height: 100%;*/
    content: '';
}

.modal-block {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: calc(100% - 100px);
}

.modal_container {
    position: relative;
    height: 100%;
    max-width: 1280px;
    max-height: 786px;
    margin: 50px auto;
    padding: 20px;
    text-align: left;
    white-space: normal;
    background-color: #117af7;
    color: #ffffff;
    background-image: url(../img/popup-man.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}
.close-btn{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: #117af7;
    background-image: url(../img/shape.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    right: -30px;
    top: -30px;
    cursor: pointer;
}
.thanks-window-body__title{
    margin-top: 70px;
}
.thanks-window-body__title h1{
    font-size: 50px;
    font-family: Acrobat, sans-serif;
    line-height: 65px;
    letter-spacing: 0.1em;
}
.thanks-window-body__title p{
    font-size: 16px;
    font-family: Ubuntu, sans-serif;
    line-height: 30px;
    color: rgb(250,250,250,0.75);
}
/* form-style */

::-webkit-input-placeholder {color: rgb(255,255,255, .5)}
::-moz-placeholder          {color: rgb(255,255,255, .5)} /* Firefox 19+ */
:-moz-placeholder           {color: rgb(255,255,255, .5)} /* Firefox 18- */
:-ms-input-placeholder      {color: rgb(255,255,255, .5)}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.popup-block{
    padding-top: 40px;
}
.popup-block input{
    background:none;
    outline: none;
    border: 1px rgb(255,255,255, .3) solid;
    padding: 15px 18px;
}

.popup-block input.modal-form_btn{
    color: #117af7;
    font-size: 16px;
    cursor: pointer;
    font-family: Acrobat, sans-serif;
    letter-spacing: 0.1em;
    width: max-content;
    text-transform: uppercase;
    padding: 17px 88px;
    border-radius: 50px;
    background-color: #ffffff;
}
.popup-block__form-left,
.popup-block__form-right{
    width: 100%;
}
.popup-block__form-left{
    margin-right: 15px;
}
.popup-block__form-right{
    margin-left: 15px;
}
.popup-block__form-left input{
    width: 100%;
    padding: 15px 19px;
}
.popup-block__form-left input+input{
    margin-top: 30px;
}

.popup-block__form-right textarea{
    width: 100%;
    line-height: 22px;
    min-height: 143px;
    background:none;
    outline: none;
    border: 1px rgb(255,255,255, .3) solid;
    padding: 15px 19px;
    resize: none;
}

/* input file  */
.file-upload input[type="file"]{
    display: none;
}
.file-form-wrap{

}
.file-upload {
    position: relative;
    overflow: hidden;
    width: 200px;
    height:50px;
    line-height:65px;
}
.file-upload:hover {
    background: none;
}
.file-upload label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.file-upload h4 {
    font-family: Acrobat, sans-serif;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 30px;
    text-transform: uppercase;
}
.file-upload h4:before{
    content: url("../img/file.png");
    position: absolute;
    left: 0;
}
.preview-img{
    max-width:100px;
    max-height:100px;
    margin:5px;
}
/* input file : END */


/* checkbox */
.checkbox{
    display: inline-block;
    margin-left: 60px;
    position: relative;
}
input[type="checkbox"] {
    display:none;
    position: absolute;
    z-index: -21;
    left: 6px;
    top: 6px;
}

input[type="checkbox"] + label {
    color: rgb(250,250,250, .5);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
    font-family: Ubuntu, sans-serif;
}

input[type="checkbox"] + label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -2px 20px 0 0;
    vertical-align: text-bottom;
    background: none;
    border: 1px #569ff6 solid;
    cursor: pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(../img/checkbox.png) 50% 50% no-repeat;
}
/* checkbox */

label {
     margin-bottom: 0;
}