@font-face {
    font-family: Acrobat; /* Гарнитура шрифта */
    src: url(../fonts/akrobat-bold.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Ubuntu; /* Гарнитура шрифта */
    src: url(../fonts/ubuntu-light.ttf); /* Путь к файлу со шрифтом */
}
body{
    background-color: #ffffff;
    color: #42515b ;
    letter-spacing: 0.1em;
    word-wrap: break-word;
}
ul,li{
    margin: 0;
    padding-inline-start: 0;
}
a{
    color: inherit;
    font-family: Acrobat, sans-serif;
}
#header{
    background-color: #f2f5f7;
}
/* ========== header-top ========== */

/* ========== gamburger-menu ========== */
.hamburger{
    background:none;
    position:absolute;
    top:0;
    left:0;
    line-height:45px;
    color:#336699;
    border:0;
    font-size:1.4em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10;
}
.hamburger:focus{
    outline: none;
}
.cross{
    background:none;
    position:absolute;
    top:0;
    left:2px;
    color:#336699;
    border:0;
    font-size:3em;
    line-height:65px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10;
}
.cross:focus{
    outline: none;
}
.menu-hamburger{
    z-index:10;
    font-weight:bold;
    width:100%;
    background:#f1f1f1;
    position:absolute;
    text-align:center;
    font-size:12px;
}
.btn-hamburger{
    display: none;
}
.menu-hamburger ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}
.menu-hamburger li {
    display: block;
    padding:15px 0 15px 0;
    border-bottom:#dddddd 1px solid;
}
.menu-hamburger li:hover{
    display: block;
    background:#ffffff;
    padding:15px 0 15px 0;
    border-bottom:#dddddd 1px solid;
}
.menu-hamburger ul li a {
    text-decoration:none;
    margin: 0px;
    color:#666;
}
.menu-hamburger ul li a:hover {
    color: #666;
    text-decoration:none;
}
.menu-hamburger a{
    font-size: 16px;
    text-decoration:none;
    letter-spacing: 0.1em;
    color: #42515b;
    text-transform: uppercase;
    font-family: Acrobat, sans-serif;
}
.menu-hamburger a:hover{
    color: #117af7;
    text-decoration: none;
    border-bottom: 1px #b5d5fb solid;
    text-decoration:none;
}

.glyphicon-home{
    color:white;
    font-size:1.5em;
    margin-top:5px;
    margin:0 auto;
}
/* ========== gamburger-menu : END ========== */

.header-top{
    padding: 30px 50px;
    margin: 0 auto;
    max-width: 1400px;
    border-bottom: 1px #e7ecf0 solid;
}
.header-top .menu{
    display: none;
    width: 175px;
    height: 50px;
    position: relative;
}
.logo{
    height: 100%;
}
.header__menu{

}
.header__menu li{
    display: inline-block;
}
.header__menu li a{
    color: #42515b;
    text-transform: uppercase;
}
.header__menu li a:hover{
    color: #117af7;
    text-decoration: none;
    border-bottom: 1px #b5d5fb solid;
}
.header__menu li+li{
    margin-left: 30px;
}
a.header__number{
    margin-left: 50px;
    margin-right: 13px;
    color: #117af7;
}
a.header__number:hover{
    color: #117af7;
    text-decoration: none;
    border-bottom: 1px #b5d5fb solid;
}
.header__button{
    padding: 11px 28px;
    border: 2px #117af7 solid;
    border-radius: 50px;
    text-transform: uppercase;
    color: #117af7;
}
.header__button:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #17a4fd;
    border: 2px #17a4fd solid;
    -webkit-box-shadow: 0 10px 15px rgba(0, 99, 217, .3);
    -moz-box-shadow: 0 10px 15px rgba(0, 99, 217, .3);
    -o-box-shadow: 0 10px 15px rgba(0, 99, 217, .3);
    box-shadow: 0 10px 15px rgba(0, 99, 217, .3);
}
/* ========== header-top : END ========== */


/* ========== header-content ========== */
.header-slider{
    min-height: 690px;
    background-image: url(../img/hc-bg.png);
    background-repeat: no-repeat;
    background-position: 350px bottom;
}
.carousel-indicators-row{
    position: relative;
}
.header-slider__title{
    max-width: 450px;
    margin-top: 105px;
}
.header-slider__title h1{
    text-transform: uppercase;
    font-size: 50px;
    line-height: 65px;
    letter-spacing: 0.1em;
    font-family: Acrobat, sans-serif;
}
.header-slider__title h4{
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    margin-top: 22px;

}
.header-slider__button{
    margin-top: 64px;
}
.header-slider__button a{
    color: #ffffff;
    text-transform: uppercase;
    padding: 20px 40px;
    border-radius: 50px;
    background-color: #117af7;
}
.header-slider__button a:hover{
    text-decoration: none;
    background-color: #17a4fd;
    -webkit-box-shadow: 0 10px 15px rgba(0, 99, 217, .3);
    -moz-box-shadow: 0 10px 15px rgba(0, 99, 217, .3);
    -o-box-shadow: 0 10px 15px rgba(0, 99, 217, .3);
    box-shadow: 0 10px 15px rgba(0, 99, 217, .3);
}
.header-slider__button a:after{
    content: url("../img/arrow-right.png");
    margin-left: 20px;
}

/* carousel-indicators */
.c-ind li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-top: 2px;
    /*margin-left: 12px;*/
    background-color: #83a1b2;
    text-indent: -999px;
    cursor: pointer;
    border-radius: 10px;
    background-clip: inherit;
    border-top: none;
    border-bottom: none;
    opacity: inherit;
    transition: auto;
}
.c-ind li + li{
    margin-left: 12px;
}
.c-ind .active {
    width: 10px;
    height: 10px;
    margin-top: 0;
    border: 2px solid #117af7;
    background: none;
}
.car-ind-row{
    margin: -10px;
}
.c-ind{
    position: relative;
    bottom: 60px!important;
    margin-right: 0;
    margin-left: 0;
}
/* carousel-indicators : END */

/* ========== header-content : END ========== */


/* ========== projects ========== */
.projects{
    margin-top: 70px;
}
.projects__block{
    margin-top: 30px;
    position: relative;
    min-height: 360px;
    text-transform: uppercase;
    color: #ffffff;
}

.projects__block { display: block; position: relative; }

.projects__block:after { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5);  opacity: 0; }

.projects__block:before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: url(icon-path); opacity: 0; }

.projects__block:hover:before,
.projects__block:hover:after { opacity: 1;
    cursor: pointer;
}

.projects__block h1{
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 10;
    width: calc(100% - 60px);
    font-size: 20px;
    line-height: 30px;
    font-family: Acrobat, sans-serif;

}
.projects__block p{
    position: absolute;
    z-index: 999;
    top: 120px;
    left: 30px;
    width: 305px;
    text-transform: none;
    color: rgb(255,255,255, .75);
    letter-spacing: 0;
    font-size: 14px;
    font-family: Ubuntu, sans-serif;
}
.projects__btn{
    position: absolute;
    z-index: 10;
    bottom: 30px;
    left: 30px;
}
.exxon-mobil{
    background-image: url(../img/back1.png);
    background-repeat: no-repeat;
    background-position: top right;
}
.talant{
    background-image: url(../img/back2.png);
    background-repeat: no-repeat;
    background-position: top right;
}
.teenweek{
    background-image: url(../img/back3.png);
    background-repeat: no-repeat;
    background-position: top right;
}
.baseg{
    background-image: url(../img/back4.png);
    background-repeat: no-repeat;
    background-position: top right;
}
.projects__block-5{
    background-image: url(../img/back5.png);
    background-repeat: no-repeat;
    background-position: top right;
}
.projects__block-6{
    background-image: url(../img/back6.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #f5f5f5;
    color: #42515b;
}
.projects__block-7{
    background-image: url(../img/back7.png);
    background-repeat: no-repeat;
    background-position: top right;
}

.projects__button{
    margin: 45px 0;
}
.projects__button a{
    color: #ffffff;
    text-transform: uppercase;
    padding: 20px 50px;
    border-radius: 50px;
    background-color: #117af7;
}
.projects__button a:hover{
    text-decoration: none;
    background-color: #17a4fd;
    -webkit-box-shadow: 0 10px 15px rgba(0, 99, 217, .3);
    -moz-box-shadow: 0 10px 15px rgba(0, 99, 217, .3);
    -o-box-shadow: 0 10px 15px rgba(0, 99, 217, .3);
    box-shadow: 0 10px 15px rgba(0, 99, 217, .3);
}
.projects__button a:after{
    content: url("../img/plus.png");
    margin-left: 20px;
}
/* ========== projects : END ========== */
